/* common style */
main {
  padding: 0px 8%;
}
.common-button {
  height: 56px;
  width: 234px;
  background-color: #db4444;
  color: #f5f5f5;
  border-radius: 5px;
  border: none;
}
.common-button:hover {
  background-color: #802929;
  cursor: pointer;
}
.common-button-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.titles {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 60px;
}
.rect-shape {
  height: 20px;
  width: 10px;
  background-color: #db4444;
  border-radius: 2px;
}
.title-name {
  color: #db4444;
  font-size: 16px;
  font-weight: bold;
}
.all-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.all-heading {
  font-size: 36px;
  font-weight: 600;
}
.all-arrows {
  display: flex;
  align-items: center;
  gap: 5px;
}
.arrow-icon:hover {
  cursor: pointer;
  color: #db4444;
}
/* Common card section */
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: centerss;
  padding: 40px 0;
}
.product-card {
  height: 250px;
  width: 270px;
  background: #f5f5f5;
  border-radius: 3px;
  position: relative;
}
.product-card:hover {
  background: #dfb9b9;
  cursor: pointer;
}
.card-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.product-discount {
  height: 26px;
  width: 55px;
  background-color: #db4444;
  color: #f5f5f5;
  text-align: center;
  border-radius: 5px;
}
.wishlist-icons {
  display: grid;
  gap: 10px;
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 20%;
}
.product-details {
}
.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #ff6c00;
}

.original-price {
  font-size: 16px;
  color: #aaa;
  text-decoration: line-through;
  margin-left: 10px;
}

.rating-section {
  display: flex;
  align-items: center;
}

.stars {
  color: rgb(255, 191, 0);
  font-size: 20px;
}

.review-count {
  font-size: 14px;
  color: #555;
  margin-left: 5px;
}

/* Nav Header section start */
#nav-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 48px;
  padding: 0 auto;
}
#select-option {
  border: none;
  color: white;
  background-color: black;
}
.header-text {
  font-size: 14px;
}
/* Nav Header section End */
/* Nav Main section start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  column-gap: 55px;
  margin-right: 12%;

  li {
    text-decoration: none;
  }
  li:hover {
    text-decoration: underline;
  }
}

.navbar-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-form {
  border-radius: 10px;
  height: 38px;
  width: 243px;
  background-color: #f5f5f5;
  color: #828288;
  padding: 4px 8px;
  border: none;
}

i {
  color: #828288;
}

input {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #828288;
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.nav-icons img {
  height: 32px;
  width: 32px;
  padding: 10px;
}

/* Hero Section Start */
.hero {
  display: flex;
  align-items: center;
}
.hero-left {
  display: flex;
  width: 20%;
  align-items: center;
}

.hero-left ul li {
  list-style: none;
  margin-top: 25px;
}

#dropdown-right-space {
  margin-left: 60px;
}
#divider {
  border-left: 0.5px solid #b7afaf;
  height: 410px;
  left: 30%;
  margin-left: 5px;
}
.hero-right {
  width: 80%;
  height: 400px;
  margin: 30px 0 0 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  width: auto;
  margin: 50px 50px;
  color: white;
}
.hero-right img {
  width: 496px;
  height: 390px;
}
.iphone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #a1a1a1;
}

.iphone img {
  width: 40px;
  height: 49px;
}
.iphone h2 {
  margin: 20px 0 20px 20px;
}

.heading h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0;
}

.shop h3 {
  color: #ffff;
  border-bottom: 3px solid #ffff;
  display: flex;
  width: 80px;
  margin-bottom: 20px;
}
.hero-img img {
  height: 352px;
  width: 496px;
}
/* Flash sale section */
.title-and-countdown-timer {
  display: flex;
  gap: 120px;
  align-items: center;
}
.countdown-timer {
  display: flex;
  gap: 20px;
}
.countdown-timer p {
  color: #db4444;
  font-size: 25px;
}

.hero-time-block {
  text-align: center;
  font-weight: bold;
}

.hero-time-block span {
  display: block;
  font-size: 32px;
}

.hero-time-block small {
  font-size: 12px;
  color: #555;
}

/* Browse By category section */

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.category-card {
  height: 145px;
  width: 170px;
  border: 2px solid rgb(208, 206, 206);
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.category-card:hover {
  background-color: #db4444;
}
.category-card p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
.category-icon img {
  height: 56px;
  width: 56px;
  margin-top: 20px;
}

/*   Best Selling Products music speker section  */
.music-speker-section {
  width: 100%;
  height: 500px;
  margin: 30px 0 0 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.speker-time-block {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 60px;
  background-color: aliceblue;
  border-radius: 50%;
  color: rgb(8, 8, 8);
}
.speker-time-block small {
  padding-bottom: 15px;
}
.speker-time-block span {
  padding-top: 15px;
}
.Buynow-button {
  padding-top: 30px;
}
.heading h4 {
  color: #00ff66;
}
/* ##################################### */
/* responsive for tablet */

@media (max-width: 768px) {
  #nav-header {
    height: 80px;
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-ul {
    flex-direction: column;
  }

  .nav-ul li {
    padding: 10px 0;
    font-size: 16px;
  }

  .nav-form {
    width: 100%;
  }

  .nav-form input[type="search"] {
    width: 80%;
  }

  .navbar-right-side {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
/* Responsive for mobile */
@media (max-width: 480px) {
  .header-text {
    font-size: 12px;
  }

  .nav-ul li {
    font-size: 14px;
  }

  .nav-icons img {
    width: 20px;
  }

  .header-text ins {
    display: none;
  }
}
/* %%%%%%%%%%% */
