/* common style */
main {
  padding: 0px 8%;
}
.common-button {
  height: 56px;
  width: 234px;
  background-color: #db4444;
  color: #f5f5f5;
  border-radius: 5px;
  border: none;
}
.common-button:hover {
  background-color: #802929;
  cursor: pointer;
}
.common-button-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.titles {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 60px;
}
.rect-shape {
  height: 20px;
  width: 10px;
  background-color: #db4444;
  border-radius: 2px;
}
.title-name {
  color: #db4444;
  font-size: 16px;
  font-weight: bold;
}
.all-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.all-heading {
  font-size: 36px;
  font-weight: 400;
}
.all-arrows {
  display: flex;
  align-items: center;
  gap: 5px;
}
.arrow-icon:hover {
  cursor: pointer;
  color: #db4444;
}
/* Common card section */
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: centerss;
  padding: 40px 0;
}
.product-card {
  height: 250px;
  width: 270px;
  background: #f5f5f5;
  border-radius: 3px;
  position: relative;
}
.product-card:hover {
  background: #dfb9b9;
  cursor: pointer;
}
.card-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.product-discount {
  height: 26px;
  width: 55px;
  background-color: #db4444;
  color: #f5f5f5;
  text-align: center;
  border-radius: 5px;
}
.wishlist-icons {
  display: grid;
  gap: 10px;
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 20%;
}
.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #ff6c00;
}

.original-price {
  font-size: 16px;
  color: #aaa;
  text-decoration: line-through;
  margin-left: 10px;
}

.rating-section {
  display: flex;
  align-items: center;
}

.stars {
  color: rgb(255, 191, 0);
  font-size: 20px;
}

.review-count {
  font-size: 14px;
  color: #555;
  margin-left: 5px;
}

/* Nav Header section start */
#nav-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 48px;
  padding: 0 auto;
}
#select-option {
  border: none;
  color: white;
  background-color: black;
}
.header-text {
  font-size: 14px;
}
/* Nav Header section End */
/* Nav Main section start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  column-gap: 55px;
  margin-right: 12%;

  li {
    text-decoration: none;
  }
  li:hover {
    text-decoration: underline;
  }
}

.navbar-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-form {
  border-radius: 10px;
  height: 38px;
  width: 243px;
  background-color: #f5f5f5;
  color: #828288;
  padding: 4px 8px;
  border: none;
}

i {
  color: #828288;
}

input {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #828288;
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.nav-icons img {
  height: 32px;
  width: 32px;
  padding: 10px;
}

/* Hero Section Start */
.hero {
  display: flex;
  align-items: center;
}
.hero-left {
  display: flex;
  width: 20%;
  align-items: center;
}

.hero-left ul li {
  list-style: none;
  margin-top: 25px;
}
.hero-left ul {
  display: grid;
  grid-template-columns: 1fr;
}

.divider {
  border-left: 0.5px solid #b7afaf;
  height: 410px;
  left: 30%;
  margin-left: 5px;
}
.hero-right {
  width: 80%;
  height: auto;
  margin: 30px 0 0 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  width: auto;
  margin: 50px 50px;
  color: white;
}
.hero-right img {
  width: 100%;
  height: auto;
}
.iphone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #a1a1a1;
}

.iphone img {
  width: 40px;
  height: 49px;
}
.iphone h2 {
  margin: 20px 0 20px 20px;
}

.heading h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0;
}

.shop h3 {
  color: #ffff;
  border-bottom: 3px solid #ffff;
  display: flex;
  width: 80px;
  margin-bottom: 20px;
}
.hero-img img {
  height: 100%;
  width: 496px;
}
/* Flash sale section */
.title-and-countdown-timer {
  display: flex;
  gap: 120px;
  align-items: center;
}
.countdown-timer {
  display: flex;
  gap: 20px;
}
.countdown-timer p {
  color: #db4444;
  font-size: 25px;
}

.hero-time-block {
  text-align: center;
  font-weight: bold;
}

.hero-time-block span {
  display: block;
  font-size: 32px;
}

.hero-time-block small {
  font-size: 12px;
  color: #555;
}

/* Browse By category section */

.category-container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  padding: 50px 0;
}
.category-card {
  height: 145px;
  width: 170px;
  border: 2px solid rgb(208, 206, 206);
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.category-card:hover {
  background-color: #db4444;
}
.category-card p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
.category-icon img {
  height: 56px;
  width: 56px;
  margin-top: 20px;
}

/*   Best Selling Products music speker section  */
.music-speker-section {
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.speker-time-block {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 60px;
  background-color: aliceblue;
  border-radius: 50%;
  color: rgb(8, 8, 8);
}
.speker-time-block small {
  padding-bottom: 15px;
}
.speker-time-block span {
  padding-top: 15px;
}
.Buynow-button {
  padding-top: 30px;
}
.heading h4 {
  color: #00ff66;
}
/* Explore Our Products section */
.new-product {
  height: 26px;
  width: 55px;
  background-color: #00ff66;
  color: #f5f5f5;
  text-align: center;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
}
.color-options {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.color-options input {
  background-color: #00ff66;
}

.color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

/* benefit section */
.benefit-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 120px 0px;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefit-item img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}
.benefit-item h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.benefit-item p {
  font-size: 14px;
  margin-top: 5px;
}
/* footer section start */
.footer {
  height: 100%;
  width: auto;
  background-color: #000000;
  padding: 0px 8%;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-logo {
  height: 24px;
  width: 118px;
  margin-top: 45px;
}
.footer-deatils h6 {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.footer-deatils p {
  font-size: 16px;
  color: #ffffff;
}
.download-app {
  display: flex;
  align-items: center;
  gap: 5px;
}
.app-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.social-media-icon {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.Copyright p {
  font-size: 14px;
  color: #7d7e7e;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
/* responsive for tablet */

@media (max-width: 880px) {
  /* common responsive */
  main {
    padding: 0px 6%;
  }
  .navbar,
  .nav-ul,
  #nav-header,
  .hero-right,
  .all-header,
  .music-speker-section,
  .benefit-section,
  .hero,
  .hero-left {
    flex-direction: column;
    text-align: center;
  }
  .all-arrows {
    margin-left: auto;
  }
  .title-name {
    font-size: 12px;
  }

  .all-heading {
    font-size: 26px;
  }
  .common-button {
    height: 48px;
    width: 180px;
  }

  /* all  sale card */
  .card-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
  }
  .category-card {
    height: 140px;
    width: 150px;
  }

  /* nav section */
  #nav-header {
    height: 80px;
  }

  .nav-ul li {
    padding: 10px 0;
    font-size: 16px;
  }

  .nav-form {
    width: 100%;
  }

  .nav-form input[type="search"] {
    width: 80%;
  }
  /* Hero section */
  .iphone img {
    width: 20px;
    height: 25px;
  }
  .iphone h2 {
    margin: 10px 0 10px 10px;
  }

  .heading h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
  }
  .iphone h2 {
    font-size: 24px;
  }

  .shop h3 {
    color: #ffff;
    border-bottom: 3px solid #ffff;
    display: flex;
    width: 80px;
    margin-bottom: 20px;
  }
  .hero-right {
    width: 100%;
    height: auto;
  }
  .hero-left {
    width: 100%;
  }
  .hero-left ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 40px;
  }
  .divider {
    display: none;
  }
  /* flash sale section  */

  .hero-time-block span {
    display: block;
    font-size: 20px;
  }

  .hero-time-block small {
    font-size: 8px;
    color: #555;
  }
  .countdown-timer p {
    color: #db4444;
    font-size: 18px;
  }

  .countdown-timer {
    justify-content: space-between;
    gap: 3px;
  }

  .all-arrows {
    gap: 8px;
  }

  .arrow-icon img {
    width: 18px;
    height: 18px;
  }
  /* Browse By category section */
  .category-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
  }
  /* Best Selling Products music speker section */
  .hero-img img {
    height: 100%;
    width: 300px;
    padding-bottom: 50px;
  }
  /* footer section */
  .footer-item {
    display: grid;
    grid-template-columns: auto auto;
  }
}
/* ############################################## */
/* Responsive for mobile */
@media (max-width: 500px) {
  /* Common responsive */
  .all-heading {
    font-size: 20px;
  }
  /* all sale card */
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  /* nav section */
  .header-text {
    font-size: 12px;
  }

  .nav-ul li {
    font-size: 14px;
  }

  .nav-icons img {
    width: 20px;
  }

  .header-text ins {
    display: none;
  }
  /* Hero section */
  .iphone h2 {
    font-size: 14px;
  }
  .hero-left ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  /* Browse By category section  */
  .category-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
  }
  .category-card {
    height: 120px;
    width: 140px;
  }
  /* Best Selling Products music speker section */
  .hero-img img {
    height: 100%;
    width: 200px;
    padding-bottom: 50px;
  }
  /* footer section */
  .footer-item {
    display: grid;
    grid-template-columns: auto;
  }
}
